<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  I created Book It! as a class project for IST 297G: Application Design Studio.
  This is my first Ruby on Rails app and I am very excited with the result.  If
  you are interested in getting started with Rails, I encourage you to check out
  Mike Hartl's Rails Tutorial, which got me up and running with Rails in just a 
  couple of weeks.  His book was invaluable toward the completion of this project,
  so I highly recommend checking it out if you're interested in riding the Rails.
  Enjoy!
</p>