<div class="center hero-unit">
	<h1>Book It!</h1>

	<h2>
		Buy and sell textbooks at Penn State!  Sign up now to get started!
	</h2>

	<%=	link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
